@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    height: 86vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-image: url("IMAGES/image4.jpg");
}

.main .box {
    top: 0;
    width: 100%;
    height: 86vh;
    opacity: 0.69;
    position: absolute;
    background-color: black;
}

nav {
    margin: auto;
    height: 62px;
    display: flex;
    max-width: 86vw;
    align-items: center;
    justify-content: space-between;
}

nav img {
    z-index: 10;
    color: red;
    width: 150px;
    position: relative;
}

nav button {
    z-index: 10;
    position: relative;

}

.hero {
    gap: 16px;
    padding: 0 30px;
    display: flex;
    color: white;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 62px);
    font-family: 'Martel Sans', sans-serif;
}

.hero> :nth-child(1) {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.hero> :nth-child(2) {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
}

.seperation {
    height: 7px;
    z-index: 20px;
    position: relative;
    background-color: rgb(50, 49, 49);
}

.btn {
    color: white;
    cursor: pointer;
    padding: 3px 6px;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgba(248, 243, 243, 0);


}

.btn-red {
    color: white;
    font-size: 20px;
    padding: 3px 23px;
    font-weight: 400px;
    border-radius: 6px;
    background-color: red;
}

.btn-red:hover {
    color: black;
    background-color: yellow;
}

.hero-buttons {
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main input {
    color: white;
    font-size: 12px;
    font-weight: 900;
    border-radius: 3px;
    padding: 6px 100px 8px 13px;
    background-color: rgba(23, 23, 23, 0.6);
    border: 1px solid rgba(23, 23, 23, 0.6);
}

.btn-red-sm {
    color: white;
    background-color: red;
}

.btn-red-sm:hover {
    color: black;
    background-color: yellow;
}

.first {
    margin: auto;
    display: flex;
    color: white;
    max-width: 70vw;
    align-items: center;
    justify-content: center;
}

.secImg {
    position: relative;
}

.secImg img {
    z-index: 10;
    width: 555px;
    padding: 0px;
    position: relative;
}

.secImg video {
    position: absolute;
    width: 555px;
    top: 75px;
    right: 0;
}

section.first>div {
    display: flex;
    padding: 33px 0;
    flex-direction: column;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

section.first>div :nth-child(2) {
    color: white;
    font-size: 16px;
    font-family: 'Martel Sans', sans-serif;
}


.faq h2 {
    padding: 16px;
    font-size: 48px;
    text-align: center;
}

.faq {
    color: white;
    background-color: black;
}

.faqbox:hover {
    color: white;
    background-color: #414141;
    transition: all 0.3s ease-out;
}

.faqbox {
    color: white;
    padding: 13px;
    display: flex;
    font-size: 23px;
    max-width: 60vw;
    cursor: pointer;
    margin: 33px auto;
    background-color: #2d2d2d;
    justify-content: space-between;
}

footer {
    margin: auto;
    padding: 13px;
    color: rgb(255, 255, 255);
    max-width: 60vw;
}

.footer {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;

    }

    .hero> :nth-child(2) {
        font-size: 18px;

    }

    .hero> :nth-child(3) {
        font-size: 18px;

    }

    .hero-buttons {
        gap: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }

}


@media screen and (max-width: 1300px) {

    .footer {
        gap: 26px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


footer .questions {
    padding: 33px 0;
}

.footer a {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.footer-item {
    gap: 10px;
    display: flex;
    flex-direction: column;
}